doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        a(href='/') Return to the homepage
        h1 Create Pet
            form(role='form' method='POST' action='/update-cobj')
              label(for='pet_name') Name:
                input#pet_name(type='text', name='pet_name', required='true')
              
              label(for='pet_type') Description:
                textarea#pet_type(name='pet_type', rows='4', required='true')
                
              label(for='age') Age (years):
                input#age(type='number', name='age', required='true')
              
              label(for='weight') Weight (Kg.):
                input#age(type='number', name='weight', required='true')
              input(type="submit", value="Submit")
